<section class="pt-5">
  <div class="py-5" id="portfolio" [@fade]="showAnimation ? 'void' : '*'">
    <div class="container py-5 container text-center" dir="rtl">
      <h2 class="text-center pb-2"><strong>أعمال نفتخر بها</strong></h2>

      <div class="filter-buttons">
        <button
          *ngFor="let category of getCategories()"
          (click)="filterImagesByCategory(category)"
          class="rounded-pill border-0"
          [ngClass]="{ 'active': selectedCategory === category }"
        >
          <strong>{{ category }}</strong>
        </button>
      </div>

      <div class="image-container d-flex align-items-center justify-content-center mt-2" [ngClass]="{ 'fade-in': showAnimation }">
        <div
          *ngFor="let image of filteredImages | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }"
          class="col-md-3 p-2"
        >
          <img [src]="image.url" alt="{{ image.category }}">
        </div>
      </div>

      <div class="pagination d-none d-sm-flex justify-content-center mt-3" [@fade]="showAnimation ? 'void' : '*'">
        <button class="btn btn-success mr-2" [disabled]="currentPage === 1" (click)="prevPage()">
          <strong><i class="fas fa-chevron-right"></i></strong>
        </button>
        <span class="mx-2"><strong>{{ currentPage }}</strong></span>
        <button class="btn btn-success ml-2" [disabled]="currentPage === totalPages" (click)="nextPage()">
          <strong><i class="fas fa-chevron-left"></i></strong>
        </button>
      </div>
    </div>
  </div>
</section>
