<div class="py-5 bg-light " id="portfolio" [@fade]="showAnimation ? 'void' : '*'">
  <div class="container py-5 container text-center" dir="rtl">
    <div class="filter-buttons">
      <button
        *ngFor="let category of getCategories()"
        (click)="filterImagesByCategory(category)"
        class="rounded-pill border-0"
        [ngClass]="{ 'active': selectedCategory === category }"
      >
        {{ category }}
      </button>
    </div>

    <div class="image-container d-flex align-items-center justify-content-center mt-2" [ngClass]="{ 'fade-in': showAnimation }">
      <div
        *ngFor="let image of filteredImages | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }"
        class="col-md-3 p-2"
      >
        <img [src]="image.url" alt="{{ image.category }}">
      </div>
    </div>

    <div class="pagination d-flex align-items-center justify-content-center">
      <pagination-controls (pageChange)="paginate($event)"></pagination-controls>
    </div>
  </div>
</div>
