.filter-buttons {
  margin-bottom: 15px;
}

.filter-buttons button {
  padding: 10px 15px;
  margin-right: 5px;
  cursor: pointer;
}

.filter-buttons button.active {
  background-color: #009970;
  color: white;
}

img {
  width: 100%;
  height: 200px;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.1);
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  transition: opacity 3s ease;
}

.image-container.fade-in {
  opacity: 1;

}

.pagination {
  margin-top: 10px;
}

.pagination ul.pagination {
  justify-content: center;
}

.pagination li.page-item {
  margin: 0 5px;
}
