
<section id="Home">
 
  <div class="home">
      <div class="layer">
      </div>
      <div class="text" >
          <div >
              <h1 class="fs-1 fw-bold pb-3" >
                  الحديقة اليونانية
              </h1>
          </div>
          <p class="w-50 lh-lg">
             متخصصون في تصميم وتنسيق الحدائق المنزلية والعامة وتركيب العشب الصناعي للحدائق
               وزراعه الاشجار وتركيب شلالات ونوافير وديكورات تركيب مظلات خشبيه وكل ما يخص الحدائق.
          </p>
  

          <button class="btn rounded-pill fs-5  px-3 py-2">
            <a class="nav-link text-white" href="tel:0541029487">   اتصل بنا للتفاصيل والاسعار  <i class="fa-solid fa-phone pe-2"></i></a> 

        </button> 
      </div>

  </div>
</section>