<footer class="bg-footer">

      

        <div class="container text-center d-flex justify-content-center align-items-center">
            <div class=" text-center">
                <div>
                    <a  href="#"><i class="fa-brands fs-4 fa-facebook m-xl-3 iconi-text "></i></a>
                    <a  href="#"> <i class="fa-brands  fs-4 fa-twitter  m-xl-3 iconi-text"></i> </a>
                    <a  href="https://wa.me/0541029487/?text = hi there Garden's Greece staff"> <i class="fa-brands fs-4  fa-whatsapp  m-xl-3 iconi-text" ></i> </a>

                  
                    <p class="fw-bold">&copy;  Copyright All Rights Reserved to Developers Team   </p>


          </div>



          
            </div>
        </div>

</footer>





