<div class="container pt-5" style="max-width: 1000px;" >
    <h2 class="text-center mb-4">نبذة عنا</h2>

    <div class="row justify-content-center">
        <div class="col-md-12 mb-4">
            <div class="card border-0 animate__animated animate__fadeInRight">
                <div class="row no-gutters">

                    <div class="col-md-7">
                        <div class="card-body ">
                            <p class="card-text mt-5 pt-5 ">
                                مؤسسة الحديقة اليونانية شركة مصرية على أرض المملكة العربية السعودية، شركة رائدة منذ أكثر من ١٥ عامًا في مجال تنسيق الحدائق. تمتلك شركتنا فريق عمل مدرب على أعلى مستوى لتنفيذ كافة المشاريع. هدفنا إرضاء عملائنا الكرام وشعارنا الجودة أولاً.
                            </p>
                            <hr class="my-4">
                            <div class="elementskit-profile-info">
                                <strong class="elementskit-author-name d-block">أحمد مجدي</strong>
                                <span class="elementskit-author-des d-block">المهندس المسؤول</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <img loading="lazy" decoding="async" src="./assets/images/Ahmed.png" alt="Ahmed's Photo" class="card-img custom-image-style w-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
