<section class="py-5" id="about">
    <div class="container py-5 " style="max-width: 1000px;" >
        <h2 class="text-center mb-5 ">
من نحن<span class="text-success"> ؟</span> 
</h2>
    
        <div class="row justify-content-center">
            <div class="col-md-12 mb-4">
                <div class="card border-0 animate__animated animate__fadeInRight">
                    <div class="row no-gutters">
    
                        <div class="col-md-7">
                            <div class="card-body ">
                                <p class="card-text  ">
                                    مؤسسة الحديقة اليونانية شركة مصرية على أرض المملكة العربية السعودية، شركة رائدة منذ أكثر من ١٥ عامًا في مجال تنسيق الحدائق. تمتلك شركتنا فريق عمل مدرب على أعلى مستوى لتنفيذ كافة المشاريع. هدفنا إرضاء عملائنا الكرام وشعارنا الجودة أولاً.
                                </p>
                                <hr class="my-4">
                                <div class="elementskit-profile-info">
                                    <strong class="elementskit-author-name d-block iconi-text">  أحمد مجدي</strong>
                                    <span class="elementskit-author-des d-block">المهندس المسؤول</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 d-flex align-items-center justify-content-center">
                            <img loading="lazy" decoding="async" src="./assets/images/client.jpg" alt="Ahmed's Photo" class="card-img custom-image-style w-75 rounded-3 text-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>