<section class="sec py-5">
    <div class="py-5 pb-5 container   ">

        <div>

            <strong>
                <h2 class="text-center mt-5">
                    الحديقة اليونانية لتنسيق الحدائق بالرياض
                </h2>
            </strong>
            <div class="d-flex align-items-center justify-content-center row ">
                <div class="col-md-3 position-relative">
                    <img src="./assets/images/ourWork/2.jpg" alt="" class="w-100 ">

                    <div class="hvrr">
                        <div class="bg-white p-3 rounded-2 w-75 layer ">
                            <h4 class="text-center fw-bold"> تركيب مظلات </h4>
                            <div class="content">
                                <p class="text-secondary  text-center">تصميم وتنفيذ مظلات الحدائق او مظلات السيارات
                                    بجودة عالية جدا وأفضل
                                    الاسعار </p>

                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-md-3 position-relative">
                    <img src="./assets/images/ourWork/9.jpg" alt="" class="w-100 ">

                    <div class="hvrr">
                        <div class="bg-white p-3 rounded-2 w-75 layer ">
                            <h4 class="text-center fw-bold">تنسيق حدائق</h4>
                            <div class="content">
                                <p class="text-secondary   text-center">توريد وتركيب العشب الصناعي بأجود أنواعه المختلفة
                                    وبأسعار ليس لها
                                    مثيل
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 position-relative">
                    <img src="./assets/images/ourWork/4.jpg" alt="" class="w-100 ">
                    <div class="hvrr">
                        <div class="bg-white p-3 rounded-2 w-75 layer ">
                            <h4 class="text-center  fw-bold"> شلالات</h4>
                            <div class="content">
                                <p class="text-secondary text-center ">تصميم وتنفيذ الشلالات المنزلية او شلالات الحدائق
                                    بتصميمات جميلة
                                    وجذابة
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-md-3 position-relative ">
                    <img src="./assets/images/16.jpg" alt="" class="w-100 ">

                    <div class="hvrr">
                        <div class="bg-white p-3 rounded-2 w-75 layer ">
                            <h4 class="text-center  fw-bold"> تشطيبات</h4>

                            <div class="content">
                                <p class="text-secondary text-center ">
                                    تشطيبات ب اعلي وارقي الجودات وارقي التصاميم العالمية
                                </p>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="col-md-3 position-relative ">
                    <img src="./assets/images/ourWork/11.jpg" alt="" class="w-100 ">

                    <div class="hvrr">
                        <div class="bg-white p-3 rounded-2 w-75 layer ">
                            <h4 class="text-center  fw-bold"> تيل صناعي </h4>

                            <div class="content">
                                <p class="text-secondary text-center ">
                                    تركيب احسن انواع التيل الصناعي والطبيعي وبجودةجيدةمع خبرة فنية جيدة في التركيب
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>





        </div>
    </div>

</section>