button:hover {
    background-color: #009970 !important;
    border-color: #009970 !important; 
    border: none;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;

}

