button:hover {
    background-color: #0bff9eba !important;
    border-color: #2cd6a9 !important;
    border: none;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;

}


/* styles.css */


/* navbar.component.css */
.Navigation a {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    position: relative;
    color: #10ed56;
    transition: color 0.3s ease-in-out;
    display: inline-block; /* Ensure the anchor element is displayed as a block */
}

.Navigation span {
    transition: color 0.3s ease-in-out;
}

.Navigation a::after {
    content: "";
    position: absolute;
    width: 75%;
    height: 2px;
    bottom: 0;
    left: 10px;
    background-color: transparent;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

/* Adjust hover styles for anchor elements inside list items */
.Navigation li:hover a span {
    color: #000;
}

.Navigation li:hover a::after {
    transform-origin: left;
    transform: scaleX(1);
    background-color: #000;
}

.Navigation a.active span {
    color: #47e1b8;
}

.Navigation a.active::after {
    transform-origin: left;
    transform: scaleX(1);
    background-color: #009970;
}

.Navigation button:hover {
    background-color: transparent;
    border-color: transparent;
text-decoration: none !important;
}

.navbar-nav .nav-link {
    font-weight: bold;
}
.navbar-nav .nav-link {
    color: #fff;
    padding: 10px 15px;
}
