<div dir="rtl" >

    <nav class="navbar navbar-expand-lg  py-md-2 px-md-5 fs-5 fw-bold fixed-top  bg-main ">
        <div class="container ">

            <a class="navbar-brand" href="#">
                <img src="./assets/images/logo.png" alt="Greece Garden Logo" class="img-fluid w-25">  الحديقة اليونانية
              </a>


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-5 mb-2 mb-lg-0 "   >
                    <li class="nav-item">
                        <a class="nav-link px-3 text-dark" aria-current="page" href="#home" >الرئيسية</a>
                    </li>
                    <li class="nav-item px-3 ">
                        <a class="nav-link text-dark" href="#portfolio">أعمالنا</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link text-dark" href="#services">خدماتنا</a>
                    </li>

                    <li class="nav-item px-3 ">
                        <a class="nav-link text-dark" href="#contact">تواصل معنا</a>
                    </li>

                    <li class="nav-item px-3">
                        <button class="btn-success mx-0 my-0 rounded-pill fs-5 border ">
                            <a class="nav-link fw-bold" href="https://wa.me/0541029487/?text = hi there Garden's Greece staff"> اتصل بنا  <i class="fa-brands fa-whatsapp px-1"></i></a>

                        </button>


                    </li>



                </ul>
            </div>
        </div>
    </nav>








</div>