
@import url('https://fonts.googleapis.com/css2?family=Cairo&family=IBM+Plex+Sans+Arabic&family=Noto+Naskh+Arabic&family=Noto+Sans+Arabic:wght@200;400&display=swap');
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body{
  font-family: 'Cairo', sans-serif;
font-family: 'IBM Plex Sans Arabic', sans-serif;
font-family: 'Noto Naskh Arabic', serif;
font-family: 'Noto Sans Arabic', sans-serif;}

:root
{
    --main-color:#E1F0DA;
   --icons-color:#527853;

   --footer-color:#D4E7C5;

}


.bg-main
{
    background-color: var(--main-color) !important;
}

.bg-footer
{
    background-color: var(--footer-color) !important;
}
.iconi-text{color: var(--icons-color);}

.bg-icons{background-color: var(--icons-color) !important;}


/* ngx-toastr styles */
.ngx-toastr {
    font-family: 'Arial', sans-serif;
  }

  .ngx-toastr-success, .ngx-toastr-error {
    color: #fff;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .ngx-toastr-success {
    background-color: #4caf50;
  }

  .ngx-toastr-error {
    background-color: #f44336;
  }

  .ngx-toastr .toast-title {
    font-weight: bold;
    font-size: 18px;
  }


  .ngx-toastr .toast-message {
    font-size: 16px;
  }

  .ngx-toastr .toast-close-button {
    color: #fff;
    font-size: 16px;
    line-height: 1;
    opacity: 0.8;
    transition: color 0.3s ease;
  }

  .ngx-toastr .toast-close-button:hover {
    color: #fff;
    opacity: 1;
  }

  .ngx-toastr .ngx-progress-bar {
    height: 4px;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .ngx-toastr .ngx-toast-enter, .ngx-toastr .ngx-toast-leave-active {
    opacity: 0;
  }

  .ngx-toastr .ngx-toast-enter-active, .ngx-toastr .ngx-toast-leave {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
